@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Indie+Flower&display=swap');
@import url(https://fonts.googleapis.com/css?family=Covered+By+Your+Grace);

body {
    font-size: 36px;
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome and Opera */
}

.corsive {
    font-family: 'Caveat', cursive;
    font-size: 0.7em;


    max-width: 500px;
    margin: 0;
}

.timer {
    font-family: 'Indie Flower', cursive;
}

h1 {
    margin: 0;
}

.loader-base {
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background: white;
}

.loader {
    border: 16px solid #adadad;
    border-radius: 50%;
    border-top: 16px solid #18db66;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;

    margin: 0 auto;
    margin-top: calc(100vh/2 - 120px);
}


.bg {
    background: no-repeat center fixed;
    /*https://source.unsplash.com/1920x1080/?nature*/
    /*https://picsum.photos/1920/1080?random&blur=1*/
    background-size: cover;
    -webkit-transition: background-image 0.5s ease-in-out;
    transition: background-image 0.5s ease-in-out;

    height: 100vh;
    margin: 0;
    padding: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.blur {
    background-color: rgb(0 0 0 / 75%);
    border-radius: 15px;
    padding: 10px;
    color: white;

    max-width: 50%;

    box-shadow: 0px 0 20px 7px #000000bf;

}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.progress-bar {
    border-radius: 60px;
    overflow: hidden;
    width: 90%;

    max-width: 90%;
    margin: 10px auto 0 auto;
}

.progress-bar span {
    display: block;
}

.bar {
    background: rgba(0, 0, 0, 0.5);
}

.progress {
    background: white; /*#75b800;*/
    color: #fff;
    padding: 3px;
    width: 0;
}